{% extends 'base.html' %}
{% block title %}SPGA Group{% endblock %}
{% block styles %}
    {{ super() }}
    <style>
        body{
            background-color: #d3d3d3;
        }
    </style>
{% endblock %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="{{ url_for('static', filename='WebPageImages/logofondoblanco.png') }}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
      </div>
      <div class="col-lg-6">
        <img src="{{ url_for('static', filename='WebPageImages/SPGANEGRO.png') }}" width="100px" style="margin-bottom:2rem" alt="Logo de la empresa">
        <h1 class="display-6 fw-bold text-body-emphasis lh-1 mb-9">Arquitectos responsables</h1>
        <p class="lead mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
{% include "footer.html" %}
{% endblock %}
