{% extends 'base.html' %}
{% block title %}SPGA Group{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <style>
        body{
            background-color:white;
        }
    </style>
{% endblock %}
{% block content %}
<div class="buttons text-center">
    <button type="button_portfolio" class="btn my-2 btn-dark rounded-pill mx-2 px-3">Lorem</button>
    <button type="button_portfolio" class="btn my-2 btn-dark rounded-pill mx-2 px-3">Ipsum</button>
    <button type="button_portfolio" class="btn my-2 btn-dark rounded-pill mx-2 px-3">Dolor</button>
    <button type="button_portfolio" class="btn my-2 btn-dark rounded-pill mx-2 px-3">Sit</button>
    <button type="button_portfolio" class="btn my-2 btn-dark rounded-pill mx-2 px-3" >Amet</button>
</div>
<div class="container">
    <h2 class="text-center mt-4"><br>Titulo de Proyecto</h2>
    <h4 class="text-center">Abril 15 - Mayo 30</h4>
    <div class="wrapper gallery text-center" id="gallery1">
        <div class="row">
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=1"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=2"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=3"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=4"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=5"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=6"></span></div>
        </div>
    </div>
    <div class="preview-box">
        <div class="details">
            <span class="title">
                Imagen <p class="current-img"></p>
                de <p class="total-img"></p>
            </span>
            <span class="icon fas fa-times"></span>
        </div>
        <div class="img-box">
            <div class="slide prev">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="slide next">
                <i class="fas fa-angle-right"></i>
            </div>
            <img src="" width="900" height="565" alt="">
        </div>
    </div>
    <div class="shadow"></div>
    <hr>
    <h2 class="text-center mt-4">Titulo de Proyecto</h2>
    <h4 class="text-center">Abril 15 - Mayo 30</h4>
    <div class="wrapper gallery text-center" id="gallery2">
        <div class="row">
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=7"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=8"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=9"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=10"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=11"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=12"></span></div>
        </div>
    </div>
    <div class="preview-box">
        <div class="details">
            <span class="title">
                Imagen <p class="current-img"></p>
                de <p class="total-img"></p>
            </span>
            <span class="icon fas fa-times"></span>
        </div>
        <div class="img-box">
            <div class="slide prev">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="slide next">
                <i class="fas fa-angle-right"></i>
            </div>
            <img src="" width="900" height="565" alt="">
        </div>
    </div>
    <div class="shadow"></div>
    <hr>
    <h2 class="text-center mt-4">Titulo de Proyecto</h2>
    <h4 class="text-center">Abril 15 - Mayo 30</h4>
    <div class="wrapper gallery text-center" id="gallery3">
        <div class="row">
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=13"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=14"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=15"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=16"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=17"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=18"></span></div>
        </div>
    </div>
    <div class="preview-box">
        <div class="details">
            <span class="title">
                Imagen <p class="current-img"></p>
                de <p class="total-img"></p>
            </span>
            <span class="icon fas fa-times"></span>
        </div>
        <div class="img-box">
            <div class="slide prev">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="slide next">
                <i class="fas fa-angle-right"></i>
            </div>
            <img src="" width="900" height="565" alt="">
        </div>
    </div>
    <div class="shadow"></div>
    <hr>
    <h2 class="text-center mt-4">Titulo de Proyecto</h2>
    <h4 class="text-center">Abril 15 - Mayo 30</h4>
    <div class="wrapper gallery text-center" id="gallery4">
        <div class="row">
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=19"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=20"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=21"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=22"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=23"></span></div>
            <div class="image col-4 px-3 py-2"><span><img src="https://picsum.photos/250/150?random=24"></span></div>
        </div>
    </div>
    <div class="preview-box">
        <div class="details">
            <span class="title">
                Imagen <p class="current-img"></p>
                de <p class="total-img"></p>
            </span>
            <span class="icon fas fa-times"></span>
        </div>
        <div class="img-box">
            <div class="slide prev">
                <i class="fas fa-angle-left"></i>
            </div>
            <div class="slide next">
                <i class="fas fa-angle-right"></i>
            </div>
            <img src="" width="900" height="565" alt="">
        </div>
    </div>
    <div class="shadow"></div>
</div>
{% include "footer.html" %}
{% endblock %}
{% block script %}
{{ super() }}
<script src="{{url_for('static', filename='/js/fullscreen.js') }}"></script>
{% endblock %}